php_flag magic_quotes_gpc off
php_value session.auto_start 0
php_value session.cache_limiter none
php_value mbstring.language Japanese

# デフォルトの内部エンコーディングを設定
php_value mbstring.internal_encoding UTF-8

# HTTP入力エンコーディング変換を有効にする
php_value mbstring.encoding_translation On

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^/cgi-bin/
RewriteRule !\.(js|css|[Gg][Ii][Ff]|[Jj][Pp][Ee]?[Gg]|[Pp][Nn][Gg]|[Ss][Ww][Ff]|[Pp][Dd][Ff]|ico)$ index.php [L]
